.imageLoader-enter {
  opacity: 0.01;
  transition: opacity .5s linear;
}

.imageLoader-enter.imageLoader-enter-active {
  opacity: 1;
}

.imageLoader-leave {
  opacity: 1;
  transition: opacity .5s linear;
}

.imageLoader-leave.imageLoader-leave-active {
  opacity: 0.01;
}